<%= render Panda::Core::Admin::ContainerComponent.new do |component| %>
  <% component.heading(text: "My Profile", level: 1) %>

  <%= form_with model: user,
              url: admin_my_profile_path,
              method: :patch,
              local: true,
              data: { controller: "theme-form" } do |f| %>
    <%= render Panda::Core::Admin::FormErrorComponent.new(model: user) %>

    <div class="space-y-4">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :current_theme, "Theme" %>
        <%= f.select :current_theme,
                     options_for_select(Panda::Core.config.available_themes || [["Default", "default"], ["Sky", "sky"]], user.current_theme),
                     {},
                     data: { action: "change->theme-form#updateTheme" } %>
      </div>
    </div>

    <%= f.submit "Update Profile",
        class: "btn btn-primary mt-4",
        data: { disable_with: "Saving..." } %>
  <% end %>
<% end %>
