<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <title><%= content_for(:title) || "Panda Admin" %></title>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <% if Rails.env.test? || ENV["CI"].present? %>
      <!-- Load compiled Panda Core assets for test environment -->
      <link rel="stylesheet" href="/panda-core-assets/panda-core-<%= Panda::Core::VERSION %>.css">
      <script src="/panda-core-assets/panda-core-<%= Panda::Core::VERSION %>.js" defer></script>
      
      <% if defined?(Panda::CMS) %>
        <!-- Also load Panda CMS assets if CMS is present -->
        <link rel="stylesheet" href="/panda-cms-assets/panda-cms-<%= Panda::CMS::VERSION %>.css">
        <script src="/panda-cms-assets/panda-cms-<%= Panda::CMS::VERSION %>.js" defer></script>
      <% end %>
    <% else %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% end %>
    
    <%= yield :admin_head_extra %>
  </head>
  
  <body class="h-full">
    <div class="flex h-full" id="panda-container">
      <div class="absolute top-0 w-full lg:flex lg:fixed lg:inset-y-0 lg:z-50 lg:flex-col lg:w-72">
        <div class="flex overflow-y-auto flex-col gap-y-5 px-4 pb-4 max-h-16 bg-gradient-to-br lg:max-h-full grow from-gray-900 to-gray-700">
          <%= render "panda/core/admin/shared/sidebar" %>
          <%= yield :admin_sidebar_extra %>
        </div>
      </div>
      
      <div class="flex flex-col flex-1 mt-16 ml-0 lg:mt-0 lg:ml-72" id="panda-inner-container">
        <section id="panda-main" class="flex flex-row h-full">
          <div class="flex-1 h-full" id="panda-core-primary-content">
            <%= render "panda/core/admin/shared/breadcrumbs" if respond_to?(:breadcrumbs) %>
            <%= render "panda/core/admin/shared/flash" %>
            
            <%= yield %>
            
            <% if content_for?(:sidebar) %>
              <%= render "panda/core/admin/shared/slideover" do %>
                <%= yield :sidebar %>
              <% end %>
            <% end %>
          </div>
        </section>
        
        <%= yield :admin_footer_extra %>
      </div>
    </div>
  </body>
</html>