<!DOCTYPE html>
<html data-theme="<%= Panda::Core::Current&.user&.current_theme || Panda::Core.config.default_theme %>" class="<%= local_assigns[:html_class] || "" %>">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : (Panda::Core.config.admin_title || "Panda Admin") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1.0/css/all.min.css">
    <%= panda_core_stylesheet %>

    <!-- ES Module Shims polyfill - must load BEFORE importmap (blocking, not async) -->
    <script src="https://ga.jspm.io/npm:[email protected]/dist/es-module-shims.js" crossorigin="anonymous"></script>

    <!-- Panda JavaScript (Core + all registered modules via ModuleRegistry) -->
    <%= panda_core_javascript %>

    <% if defined?(Panda::CMS) && controller.class.name.start_with?("Panda::CMS") %>
      <%= render "panda/cms/shared/favicons" %>
    <% end %>

    <%= yield :head %>
  </head>
  <body class="overflow-hidden h-full <%= local_assigns[:body_class] || "" %>" data-environment="<%= Rails.env %>">
