<div class="relative" data-controller="toggle">
  <main class="overflow-auto flex-1 h-full min-h-full max-h-full">
    <div class="overflow-auto px-2 pt-2 mx-auto sm:px-6 lg:px-6">
      <% if heading_slot? %>
        <%= heading_slot %>
      <% end %>

      <% if tab_bar_slot? %>
        <%= tab_bar_slot %>
      <% end %>

      <section class="<%= section_classes %>">
        <div class="flex-1 mt-4 w-full h-full">
          <% if body_slot? %>
            <%= body_slot %>
          <% elsif content.present? %>
            <%= content %>
          <% end %>
        </div>
      </section>
    </div>
  </main>

  <% if slideover_slot? %>
    <%= slideover_slot %>
  <% end %>
</div>
