<%= content_tag :div, **attrs do %>
  <% if icon.present? %>
    <div class="mx-auto mb-3 flex h-12 w-12 items-center justify-center rounded-2xl bg-gray-100 text-gray-400">
      <i class="<%= icon %>"></i>
    </div>
  <% end %>
  <h3 class="text-lg font-semibold text-gray-900"><%= title %></h3>
  <% if description.present? %>
    <p class="mt-2 text-sm text-gray-500"><%= description %></p>
  <% end %>
  <% if content? %>
    <div class="mt-4 flex justify-center">
      <%= content %>
    </div>
  <% end %>
<% end %>
