<div class="heading-wrapper">
  <% heading_tag = case level when 1 then :h1 when 2 then :h2 when 3 then :h3 when :panel then :h3 else :h2 end %>

  <%= tag.send(heading_tag, class: heading_classes) do %>
    <div class="grow flex items-center gap-x-2">
      <% if icon.present? %>
        <%= tag.i(class: icon) %>
      <% end %>
      <span><%= text %></span>
    </div>
    <% if buttons.any? %>
      <span class="actions flex gap-x-2 mt-1 min-h-[2.5rem]">
        <% buttons.each do |button| %>
          <%= button %>
        <% end %>
      </span>
    <% end %>
  <% end %>

  <% if meta %>
    <%= tag.p(raw(meta), class: "text-sm text-black/60 -mt-1 mb-5") %>
  <% end %>
</div>
